.container {
    width: 270px;
    height: max(100%,100vh);
    min-width: 260px;
    background: #f5f8fa;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 10px 0px;
    padding: 0 32px;
}

.section{
    border-bottom: solid 2px #e6e6e6;
    padding: 15px 0;
}

@media only screen and (max-width: 1000px) {
    .card {
      grid-column-end: span 6;
    }
  }
  
  @media only screen and (max-width: 700px) {
    main {
      grid-gap: 20px;
    }
    .card {
      grid-column-end: span 12;
    }
  }
  
  @media only screen and (max-width: 682px) {
    .container{
        display: none;
    }
  }
